<div class="box">
    <p class="box-title">Choose a Department</p>
    <ul>
        {% for value in dataList %}

            {% if value.department_id == dataId.0.department_id %}
                {% set classSelected = "selected" %}
            {% else %}
                {% set classSelected = "" %}
            {% endif %}

            <li><a class="{{ classSelected }}"
                   href="/{{ value.name }}?id={{ value.department_id }}">{{ value.department_id }} {{ value.name }}</a>
{#                   href="/department/listing?id={{ value.department_id }}">{{ value.department_id }} {{ value.name }}</a>#}
            </li>
        {% endfor %}
    </ul>

</div>
