<div class="box">
    <ul>
        {% for value in product %}
            <h2>{{ value.name }}</h2>
            <img src="/img/product_images/{{ value.image}}" height="300" alt="t-shirt">
            <img src="/img/product_images/{{ value.image_2}}" height="300"  alt="t-shirt">
            <p>{{ value.description }}</p>
            <p><b>Price: {{ value.price }}</b></p>
        {% endfor %}
    </ul>

</div>